<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APMS</title>
</head>
<body>
    <h1>APMS</h1>
    <p>AMPS integrates a Random Forest ML Pipeline to predict RUl of Aircraft Engines for Predictive Maintenance</p>
    <p>Note: linear regression and support vector regression currently only supports base models</p>
    <form action="/train" method="post">
      <label for = "model">Select Model:</label>
      <select name = "model" id="model">
        <option value="rf">Random Forest</option>
        <option value="lr">Linear Regression</option>
        <option value="svr">Support Vector Regression</option>
      </select>
      <br>
      <label for = "selection">Select Feature Selection Method:</label>
      <select name="selection" id="selection">
        <option value="base">Base</option>
        <option value="corr">Correlation</option>
      </select>
    <input type="submit" value="Train">
    </form>
    <br> 

    <table border="1">
        <tr>
          <th>Dataset</th>
          <th>RMSE</th>
          <th>R2 Score</th>
          <th>MAE</th>
        </tr>
        <tr>
          <td>Train</td>
          <td>{{ train_rmse }}</td>
          <td>{{ train_r2 }}</td>
          <td>{{ train_mae }}</td>
        </tr>
        <tr>
          <td>Test</td>
          <td>{{ test_rmse }}</td>
          <td>{{ test_r2 }}</td>
          <td>{{ test_mae }}</td>
        </tr>
      </table>
    <br>

</body>
</html>