<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APMS</title>
    <link type = "text/css" rel = "stylesheet" href = "{{ url_for('static', filename = 'css/main.css') }}">
    
</head>
<body>
  <div class="navbar">
    <ul>
      <li><img src="{{ url_for('static', filename='noun-f-35-3879995.svg') }}" height="50px" style="margin-right:5px;transform:rotate(180deg)"></li>
      <li><h1>AMPS</h1></li>
      <li><a href="{{'url_for(/train)'}}">TRAIN</a></li>
      <li><a href="{{'url_for(/predict)'}}">PREDICT</a></li>
      <li><a href="{{'url_for(/schedule)'}}">SCHEDULE</a></li>
      
      <li style="float:right">
        <div class="navbar-icon">JG</div>
      </li>
      <li style="float:right">
        <div class="navbar-icon">?</div>
      </li>

      <li style="float:right">
        <form action="/search" method="GET">
          <input type="text" name="search" placeholder="Search.." class="search-bar">
        </form>
      </li>
    </ul>
  </div>
  <div class="dashboard-header"> 
    <h1>TURBOFAN JET ENGINE</h1>
    <p>Predicting the Remaining Useful Life of Aircraft Engines for Maintenance Decision</p>
    <form action="/train" method="post">
      <select name = "model" id="model">
        <option value="" disabled selected>Model Selection</option>
        <option value="rf">Random Forest</option>
        <option value="lr">Linear Regression</option>
        <option value="svr">Support Vector Regression</option>
      </select>
      <select name="selection" id="selection">
        <option value="" disabled selected>Feature Selection</option>
        <option value="base">Base</option>
        <option value="corr">Correlation</option>
      </select>
      <button>Input Values <b>(Select)</b></button>
    <input type="submit" value="Train">
    </form>


    <!-- Javascript to keep the drop down as the previously selected model -->
    <script>
      // Set the selected option in the model dropdown menu
      var selectedModel = "{{ model }}"; // Get the selected model value from Flask
      document.getElementById("model").value = selectedModel;
      var selectedSelection = "{{ selection }}"; // Get the selected selection value from Flask
      document.getElementById("selection").value = selectedSelection;
    </script>
  </div>
  <br>
  <div class="metric">
    <div class="metric-item">
      <h2>RUL</h2>
      <p>{{ prediction }}</p>
    </div>
    <div class="metric-item">
      <h2>RMSE</h2>
      <p>{{ test_rmse }}</p>
    </div>
    <div class="metric-item">
      <h2>R-Squared</h2>
      <p>{{ test_r2 }}</p>
    </div>
    <div class="metric-item">
      <h2>MAE</h2>
      <p>{{ test_mae }}</p>
    </div>



  </div>




  

    <br> 
    <h2>Selected Model {{ model }} and Feature Selection {{ selection }}</h2>
    <br> 
    <br>
    <h2>Training Results</h2>
    <table border="1">
        <tr>
          <th>Dataset</th>
          <th>RMSE</th>
          <th>R2 Score</th>
          <th>MAE</th>
        </tr>
        <tr>
          <td>Train</td>
          <td>{{ train_rmse }}</td>
          <td>{{ train_r2 }}</td>
          <td>{{ train_mae }}</td>
        </tr>
        <tr>
          <td>Test</td>
          <td>{{ test_rmse }}</td>
          <td>{{ test_r2 }}</td>
          <td>{{ test_mae }}</td>
        </tr>
      </table>
    <br>

    <h2> Scoring </h2>
    <form action="/score" method="post">
        <label for = "s_1">Fan inlet tempearture (◦R)</label>
        <input type="number" id="s_1" name="s_1" value= "">
        <br>
        <label for = "s_2">LPC outlet temperature (◦R)</label>
        <input type="number" id="s_2" name="s_2" value= "">
        <br>
        <label for = "s_3">HPC outlet temperature (◦R)</label>
        <input type="number" id="s_3" name="s_3" value= "">
        <br>
        <label for = "s_4">LPT outlet temperature (◦R)</label>
        <input type="number" id="s_4" name="s_4" value= "">
        <br>
        <label for = "s_5">Fan inlet Pressure (psia)</label>
        <input type="number" id="s_5" name="s_5" value= "">
        <br>
        <label for="s_6">Bypass-duct pressure (psia)</label>
        <input type="number" id="s_6" name="s_6" value="">
        <br>
        <label for="s_7">HPC outlet pressure (psia)</label>
        <input type="number" id="s_7" name="s_7" value="">
        <br>
        <label for="s_8">Physical fan speed (rpm)</label>
        <input type="number" id="s_8" name="s_8" value="">
        <br>
        <label for="s_9">Physical core speed (rpm)</label>
        <input type="number" id="s_9" name="s_9" value="">
        <br>
        <label for="s_10">Engine pressure ratio(P50/P2)</label>
        <input type="number" id="s_10" name="s_10" value="">
        <br>
        <label for="s_11">HPC outlet Static pressure (psia)</label>
        <input type="number" id="s_11" name="s_11" value="">
        <br>
        <label for="s_12">Ratio of fuel flow to Ps30 (pps/psia)</label>
        <input type="number" id="s_12" name="s_12" value="">
        <br>
        <label for="s_13">Corrected fan speed (rpm)</label>
        <input type="number" id="s_13" name="s_13" value="">
        <br>
        <label for="s_14">Corrected core speed (rpm)</label>
        <input type="number" id="s_14" name="s_14" value="">
        <br>
        <label for="s_15">Bypass Ratio</label>
        <input type="number" id="s_15" name="s_15" value="">
        <br>
        <label for="s_16">Burner fuel-air ratio</label>
        <input type="number" id="s_16" name="s_16" value="">
        <br>
        <label for="s_17">Bleed Enthalpy</label>
        <input type="number" id="s_17" name="s_17" value="">
        <br>
        <label for="s_18">Required fan speed</label>
        <input type="number" id="s_18" name="s_18" value="">
        <br>
        <label for="s_19">Required fan conversion speed</label>
        <input type="number" id="s_19" name="s_19" value="">
        <br>
        <label for="s_20">High-pressure turbines Cool air flow</label>
        <input type="number" id="s_20" name="s_20" value="">
        <br>
        <label for="s_21">Low-pressure turbines Cool air flow</label>
        <input type="number" id="s_21" name="s_21" value="">
        <input type = "submit" value = "Predict">

</body>
</html>